<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAfiliado" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/Implementacion/AfiliadoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAfiliado"
                contract="AfiliadoProxy.IAfiliado" name="BasicHttpBinding_IAfiliado" />
        </client>
    </system.serviceModel>
</configuration>